.restaurant-details-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background: lightgray;
}

.left-details {
    width: 30%;
    text-align: left;
    padding: 20px;
}

.right-details{
    width: 60%;
    text-align: left;
    padding: 20px;
}
  
.details {
    text-align: left;
}

.item-details {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.items-left-details {
    width: 47%;
    text-align: left;
    padding: 20px;
}

.items-right-details {
    width: 47%;
    text-align: left;
    padding: 20px;
}


.restaurant-details {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}