.tabs {
    background-color: #3f51b5;
    color: white;
}

.gridListAddresses {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;
}

.gridListNew {
    flex-wrap: nowrap;
    transform: translateZ(0);
}

.gridTile {
     border:none;
     
}

.gridTile:hover {
    border:outset;
    border-color:green;
    box-shadow:unset;
}

.tickIcon {
    color: none;
}

.tickIcon:hover {
    color: green;
}

.tickIcon:active {
    color: green;
}

.main-div {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    overflow: hidden;
}

@media (max-width: 800px) {
    .main-div {
        flex-direction: column;
    }
}

.dispNone {
    display: none;
}

.dispBlock {
    display: block;
}