.app-header {
    background-color: darkgrey;
    height: 36px;
    padding: 8px 32px 8px 16px;
    display: flex;
}

.Input.clicked {
    color: white;
}

@media (max-width: 800px) {
    .app-header {
      flex-direction: column;
      height: 122px;
    }
    .card-details {
        flex-direction: column;
    }
}

.card-details {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}