.app-header {
    background-color: rgb(67, 71, 68);
    height: 36px;
    padding: 8px 32px 8px 16px;
    display: flex;
}

.Input.clicked {
    color: white;
}

@media (max-width: 800px) {
    .app-header {
      flex-direction: column;
      height: 122px;
    }
    .card-details {
        flex-direction: column;
    }
}

.card-details {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.tabs-header {
    margin-bottom: 20px;
}

.red {
    color: red;
} 

.dispNone {
    display: none;
}

.dispBlock {
    display: block;
}

.hr {
    height: 1.5px;
    background-color: #f2f2f2;
    margin-left: 5px;
    margin-right: 5px;
  }

  .account-circle {
      cursor: pointer;
      color: ivory;
  }